<title> Sign Up</title>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/util1.css">
  <link rel="stylesheet" type="text/css" href="/assets/main1.css">
<!--===============================================================================================-->

<!-- <body style="background-color: #999999;">
 -->  
  <div class="limiter">
    <div class="container-login100">
      <div class="login100-more" style="background-image: url('/assets/bg-01.jpg'); height: 700px;"></div>

      <div class="wrap-login100 p-l-50 p-r-50 p-t-15 p-b-50">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "login100-form"}) do |f| %>
        
           <span class="login100-form-title p-b-35">
            Sign Up
            <br>
            <%= render "devise/shared/error_messages", resource: resource %>
          </span>
        
          
          <div class="wrap-input100 validate-input" >
            <span class="label-input100"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Username</span>
            <%= f.text_field :name, class: "input100",autofocus:true, placeholder: "Username...",required: true %>
            <span class="focus-input100"></span>
          </div>
      
          <div class="wrap-input100 validate-input" >
            <span class="label-input100"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Email</span>
            <%= f.email_field :email, autocomplete: "email",class: "input100", placeholder: "Email address ...",required: true %>
            <span class="focus-input100"></span>
          </div>

          
          <div class="wrap-input100 validate-input" >
            <span class="label-input100"><i class="fa fa-key" aria-hidden="true"></i> &nbsp;Password</span>
            <% if @minimum_password_length %>
             <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "input100",placeholder: "**********",required: true  %>
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" >
            <span class="label-input100"><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Repeat Password</span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input100", placeholder: "*********", required: true %>
            <span class="focus-input100"></span>
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Sign Up
              </button>
            </div>
            User already exist?
            <%= link_to "Log in", new_session_path(resource_name), class: "dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30" %>          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- <h2>Sign up</h2>

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>


  <div class="form-group">
    <%#= f.label :name %>
    <%#= f.text_field :name, class: 'form-control' %>
  </div>


  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <#% if @minimum_password_length %>
    <em>(<%#= @minimum_password_length %> characters minimum)</em>
    <#% end %><br />
    <%#= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%#= f.submit "Sign up" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>
 -->