<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
       <ul>
      <% product.errors.full_messages.each do |message| %>
        <h4 style="color: red;"><%= message %></h4>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100"> Category </span>
    <%= form.text_field :category, class: "input100",autofocus:true, placeholder: "Category name...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100"> Name </span>
    <%= form.text_field :name, class: "input100",autofocus:true, placeholder: "Product name...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
 </div>
 <div class="col-md-12">
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100">Brand Name </span>
    <%= form.text_field :brand_name, class: "input100",autofocus:true, placeholder: "Product brand...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100">Colour</span>
    <%= form.text_field :colour, class: "input100",autofocus:true, placeholder: "Product colour...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
 </div>
 <div class="col-md-12">
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100"> Image </span>
    <%#= form.text_field :name, class: "input100",autofocus:true, placeholder: "Product image...",required: true %>
    <%= form.file_field :image , class: "input100", required: true%>
    <% if form.object.image? %>
    <%= image_tag form.object.image.thumb.url%>
    <% end %>
    <span class="focus-input100"></span>
   </div>
  </div>
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100"> Price </span>
    <%= form.number_field :price, class: "input100",autofocus:true, placeholder: "Product price...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
 </div>
  <div class="col-md-12">
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100">Size</span>
    <%= form.text_field :size, class: "input100",autofocus:true, placeholder: "Product size...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
  <div class="col-md-6">
  <div class="wrap-input100" >
    <span class="label-input100">Descriptiom</span>
    <%= form.text_area :description, class: "input100",autofocus:true, placeholder: "Product description...",required: true %>
    <span class="focus-input100"></span>
   </div>
  </div>
 </div>
 <div class="col-md-12">
  <div class="col-md-6"></div>
  <div class="col-md-3">
  <div class="wrap-login100-form-btn">
     <div class="login100-form-bgbtn"></div>
       <button class="login100-form-btn">
        Create
      </button>
  </div>
 </div>
 <!-- <div class="col-md-3">
  <div class="wrap-login100-form-btn">
     <div class="login100"></div>
      <%#= link_to 'Cancel', products_path, class: "btn btn-danger" %>
  </div>
 </div> -->
 <%end%>